.ad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 350px;
  top: 200px;
  left: 1100px;
  text-align: center;
  background-color: #b697ff;
  border-radius: 10px;
  font-family: Poppins;
}
.ad img {
  border-radius: 10px;
}
.ad > div {
  color: aliceblue;
}
.ad button {
  width: 150px;
  background-color: aqua;
  border-radius: 10px;
}
