body {
    height: 1800px;
}

main {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

h1 {
    font-size: 44px;
    color: rgba(166, 74, 201, 1);
    text-shadow: 0px 2px 10px rgba(166, 74, 201, 0.3);
}

.cards {
    width: 1232px;
    height: 1311px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 287px;
    margin-bottom: 60px;
}

#card_1 {
    box-shadow: 3px 0px 10px rgba(252, 205, 4, 0.4);
    
}

#card_1:hover {
    background: rgba(252, 205, 4, 0.1);
    transition: background-color 300ms ease-in-out;
}

#card_2 {
    box-shadow: 3px 0px 10px rgba(255, 180, 143, 0.4);
}

#card_2:hover {
    background: rgba(255, 180, 143, 0.1);
    transition: background-color 300ms ease-in-out;
}

#card_3 {
    box-shadow: 3px 0px 20px rgba(245, 230, 204, 0.5);
}

#card_3:hover {
    background: rgba(245, 230, 204, 0.1);
    transition: background-color 300ms ease-in-out;
}


#card_4 {
    box-shadow: 2px 0px 10px rgba(23, 233, 224, 0.4);
}

#card_4:hover {
    background:rgba(23, 233, 224, 0.1);
    transition: background-color 300ms ease-in-out;
}

.text_wrap {
    display: flex;
    flex-direction: column;
    width: 780px;
    height: 197px;
    margin-left: 40px;
    margin-top: 30px;
}

p {
    font-size: 34px;
}

.text_1 {
    text-align: justify;
    font-size: 18px;
}

@media only screen and (max-width: 1024px) {
    .cards {
        width: 90%;
    }

    .card {
        height: 350px;
    }

    body {
        height: 2100px;
    }

    main {
        margin-bottom: 350px;
    }

    .text_1 {
        width: 90%;
    }

    .image_wrap {
        display: flex;
        align-items: center;
    }
}