main {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

h1 {
    font-size: 44px;
    color: rgba(166, 74, 201, 1);
    text-shadow: 0px 2px 10px rgba(166, 74, 201, 0.3);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 1282px;
    height: 1174px;
    font-family: Poppins;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 582px;
    height: 209px;
    background: #FFFFFF;
    transition: 400ms ease all;
}

.text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 97px;
    margin-top: 40px;
    margin-left: 40px;
}

.image_wrap {
    width: 209px;
    height: 209px;
    background-size:contain;
}

.discription {
    color: black;
    text-align: justify;
}

p {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

/* card_1 styling */
#card_1 {
    box-shadow: 0px 0px 15px rgba(255, 207, 0, 0.4);
    margin-right: 114px;
}

#image_wrap_1 {
    background: url("../img/drinks/wrap/image_wrap_1.png") center no-repeat;
}

#card_1:hover {
    background-color: #FFCF00;
}

#card_1:hover #image_wrap_1{
    background: url(/img/drinks/wrap/hover/image_wrap.png);
}


/* card_2 styling */
#card_2 {
    box-shadow: 0px 0px 15px rgba(23, 233, 224, 0.4);
}

#card_2:hover {
    background-color: #17E9E0;
}

#image_wrap_2 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_2.png") center no-repeat;
}

#card_2:hover #image_wrap_2 {
    background: url("../img/drinks/wrap/hover/image_wrap2.png") center no-repeat;
}

/* card_3 styling */
#card_3 {
    box-shadow: 0px 0px 15px rgba(255, 180, 143, 0.4);
    margin-right: 114px;
}

#card_3:hover {
    background-color: #FFB48F;
}

#image_wrap_3{
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_3.png") center no-repeat;
}

#card_3:hover #image_wrap_3 {
    background: url("../img/drinks/wrap/hover/image_wrap_2.png") center no-repeat;
}

/* card_4 styling */
#card_4 {
    box-shadow: 0px 0px 30px rgba(245, 230, 204, 0.5);
}

#card_4:hover {
    background-color: #F5E6CC;
}

#image_wrap_4 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_4.png") center no-repeat;
}

#card_4:hover #image_wrap_4 {
    background: url("../img/drinks/wrap/hover/image_wrap-3.png") center no-repeat;
}

/* card_5 styling */
#card_5 {
    box-shadow: 0px 0px 15px rgba(225, 145, 255, 0.4);
    margin-right: 114px;
}

#card_5:hover {
    background-color: #E191FF;
}

#image_wrap_5 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_5.png") center no-repeat;
}

#card_5:hover #image_wrap_5 {
    background: url("../img/drinks/wrap/hover/image_wrap-4.png") center no-repeat;
}

/* card_6 styling */
#card_6 {
    box-shadow: 0px 0px 15px rgba(134, 194, 54, 0.4);
}

#card_6:hover {
    background-color: #86C232;
}

#image_wrap_6 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_6.png") center no-repeat;
}

#card_6:hover #image_wrap_6 {
    background: url("../img/drinks/wrap/hover/image_wrap-5.png") center no-repeat;
}

/* card_7 styling */
#card_7 {
    box-shadow: 0px 0px 15px rgba(132, 206, 235, 0.4);
    margin-right: 114px;
}

#card_7:hover {
    background-color: #84CEEB;
}

#image_wrap_7 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_7.png") center no-repeat;
}

#card_7:hover #image_wrap_7 {
    background: url("../img/drinks/wrap/hover/image_wrap-6.png") center no-repeat;
}

/* card_8 styling */
#card_8 {
    box-shadow: 0px 0px 15px rgba(233, 128, 116, 0.4);
}

#card_8:hover {
    background-color: #E98074;
}

#image_wrap_8 {
    transition: 400ms ease all;
    background: url("../img/drinks/wrap/image_wrap_8.png") center no-repeat;
}

#card_8:hover #image_wrap_8 {
    background: url("../img/drinks/wrap/hover/image_wrap-7.png") center no-repeat;
}

@media only screen and (max-width: 1024px) {
    .cards {
        width: 90%;
        height: 2000px;
    }

    .card {
        width: 100%;
    }

    #card_1, #card_3, #card_5, #card_7 {
        margin-right: 0;
    }

    .text_wrap {
        width: 500px;
    }
}
