.first_frame {
    background: url(../img/home/image_wrap.png) no-repeat;
    background-position: right;
    height: 473px;
    transition: background-image 700ms ease-in-out;
}

.video.show {
    height: 1000px;
}

.first_frame:hover {
    background: url(../img/home/hover/image_wrap.png) no-repeat;
    background-position: right;
}

.second_frame {
    background: url(../img/home/image_wrap_2.png) no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 473px;
    transition: background-image 700ms ease-in-out;
}

.second_frame:hover {
    background: url(../img/home/hover/image_wrap_2.png) no-repeat;
    background-position: left;
}

.third_frame {
    background: url(../img/home/image_wrap_3.png) no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 473px;
    transition: background-image 700ms ease-in-out;
}

.third_frame:hover {
    background: url(../img/home/hover/image_wrap_3.png) no-repeat;
    background-position: right;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Poppins;
}

#text {
    display: flex;
    flex-direction: column;
    width: 790px;
    justify-content: space-between;
    font-family: Poppins;
    width: 790px;
    height: 396px;
    text-align: justify;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

#discription {
    text-align: justify;
    height: 284px;
    width: 784px;
    font-size: 24px;
}

@media only screen and (max-width: 1024px) {
    #discription {
        background-color: rgba(255, 255, 255, 60%);
    }
    
    h1 {
        background-color: rgba(255, 255, 255, 60%);
    }
}

<<<<<<< HEAD
@media only screen and (max-width: 375px) {

=======
/* Pixel 2XL */
@media only screen and (min-width: 411px) and (max-width: 1023px){
    .body {
        width: 110%;
    }

    main {
        margin-bottom: 30px;
    }

    .first_frame, .second_frame, .third_frame {
        width: 100%;
        background-size: cover;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
    }

    .first_frame {
        background: url("../img/home/hover/image_wrap.png") center no-repeat;
    }

    .second_frame {
        background: url("../img/home/hover/image_wrap_2.png") center no-repeat;
    }

    .third_frame {
        background: url("../img/home/hover/image_wrap_3.png") center no-repeat;
    }

    h1 {
        font-size: 16px;
    }

    #discription {
        width: 80%;
        height: 60%;
        opacity: 80%;
        font-size: 12px;
    }
}

/* iPhone X*/
@media only screen and (min-width: 360px) and (max-width: 411px){
    .body {
        width: 110%;
    }

    main {
        margin-bottom: 30px;
    }

    .first_frame, .second_frame, .third_frame {
        width: 100%;
        background-size: cover;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
    }

    .first_frame {
        background: url("/img/home/hover/image_wrap.png") center no-repeat;
    }

    .second_frame {
        background: url("/img/home/hover/image_wrap_2.png") center no-repeat;
    }

    .third_frame {
        background: url("../img/home/hover/image_wrap_3.png") center no-repeat;
    }

    h1 {
        font-size: 16px;
    }

    #discription {
        width: 80%;
        height: 60%;
        opacity: 80%;
        font-size: 12px;
    }
>>>>>>> 1ff155bb6e74be8e645b7e81e8248f644b6c157d
}