main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}


/* cards styling */
.cards {
    width: 1301px;
    height: 1073px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Poppins;
}

.card {
    width: 398px;
    height: 513px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 44px;
    color: rgba(166, 74, 201, 1);
    text-shadow: 0px 2px 10px rgba(166, 74, 201, 0.3);
}

p {
    font-size: 36px;
    color: #A64AC9;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

p, .discription {
    margin-left: 10px;
}

.discription {
   font-size: 14px;
   margin-bottom: 5px;
}

#cuisine_types {
    background: rgba(0, 0, 0, 0,65);
    font-size: 18px;
}

/* card_1 styling */
#card_1 {
    box-shadow: 2px 2px 20px rgba(23, 233, 224, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_1.png);
    transition: 400ms ease all;
}

#card_1:hover {
    background: url(../img/restaurants/hover/image_wrap_1.png);
}

#card_1:hover p{
    color: #fff;
}

/* card_2 styling */
#card_2 {
    box-shadow: 2px 2px 20px rgba(0, 118, 191, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_2.png);
    transition: 400ms ease all;
}

#card_2:hover {
    background: url(../img/restaurants/hover/image_wrap_2.png);
}

#card_2:hover p{
    color: #fff;
}

/* card_3 styling */
#card_3 {
    box-shadow: 2px 2px 20px rgba(255, 56, 56, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_3.png);
    transition: 400ms ease all;
}

#card_3:hover {
    background: url(../img/restaurants/hover/image_wrap_3.png);
}

#card_3:hover p{
    color: #fff;
}

/* card_4 styling */
#card_4 {
    box-shadow: 2px 2px 20px rgba(166, 74, 201, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_4.png);
    transition: 400ms ease all;
}

#card_4:hover {
    background: url(/img/restaurants/hover/image_wrap_4.png);
}

#card_4:hover p{
    color: #fff;
}

/* card_5 styling */
#card_5 {
    box-shadow: 2px 2px 20px rgba(233, 128, 116, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_5.png);
    transition: 400ms ease all;
}

#card_5:hover {
    background: url(../img/restaurants/hover/image_wrap_5.png);
}

#card_5:hover p{
    color: #fff;
}

/* card_6 styling */
#card_6 {
    box-shadow: 2px 2px 20px rgba(255, 207, 0, 0.3);
    background: url(../img/restaurants/wrap/image_wrap_6.png);
    transition: 400ms ease all;
}

#card_6:hover {
    background: url(../img/restaurants/hover/image_wrap_6.png);
}

#card_6:hover p{
    color: #fff;
}

/* table styling */
.table_wrap {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    width: 1294px;
}

@media only screen and (max-width: 1024px) {
    .cards {
        width: 90%;
        height: 1700px;
        margin-bottom: 20px;
    }

    .table_wrap {
        width: 90%;
        font-size: 18px;
    }
}